In [1]:
import pandas as pd

from constants.abs_paths import AbsDirPath

df = pd.read_csv(AbsDirPath.ROOT / "processing_pipeline" / "analysis" / "param_tuning.csv")

In [2]:
df.head()

   n_threads  n_batches        model_name         time
0          1          5  deepseek-r1:1.5b   680.124677
1          1          5    deepseek-r1:7b  1007.642526
2          1          5    deepseek-r1:8b   350.287980
3          1         10  deepseek-r1:1.5b   647.467153
4          1         10    deepseek-r1:7b   350.027707

In [3]:
df.sort_values("time")

    n_threads  n_batches        model_name         time
45         15          5  deepseek-r1:1.5b   316.183974
46         15          5    deepseek-r1:7b   316.595344
36         10         15  deepseek-r1:1.5b   316.681438
58         15         50    deepseek-r1:7b   316.686868
18          5         10  deepseek-r1:1.5b   317.015734
30         10          5  deepseek-r1:1.5b   317.381762
20          5         10    deepseek-r1:8b   317.641310
17          5          5    deepseek-r1:8b   318.214599
26          5         20    deepseek-r1:8b   318.433320
15          5          5  deepseek-r1:1.5b   318.711258
54         15         20  deepseek-r1:1.5b   319.428014
42         10         50  deepseek-r1:1.5b   319.460824
40         10         20    deepseek-r1:7b   320.049358
19          5         10    deepseek-r1:7b   320.359248
44         10         50    deepseek-r1:8b   320.420426
35         10         10    deepseek-r1:8b   320.739829
53         15         15    deepseek-r1:8b   321.494657
29          5         50    deepseek-r1:8b   322.409924
9           1         20  deepseek-r1:1.5b   328.912075
6           1         15  deepseek-r1:1.5b   332.332921
11          1         20    deepseek-r1:8b   333.687108
5           1         10    deepseek-r1:8b   335.803824
4           1         10    deepseek-r1:7b   350.027707
2           1          5    deepseek-r1:8b   350.287980
34         10         10    deepseek-r1:7b   603.978574
38         10         15    deepseek-r1:8b   612.208770
31         10          5    deepseek-r1:7b   616.921100
39         10         20  deepseek-r1:1.5b   618.437334
43         10         50    deepseek-r1:7b   618.580879
32         10          5    deepseek-r1:8b   623.480563
23          5         15    deepseek-r1:8b   624.490772
48         15         10  deepseek-r1:1.5b   625.685392
55         15         20    deepseek-r1:7b   626.195569
21          5         15  deepseek-r1:1.5b   626.631869
22          5         15    deepseek-r1:7b   628.408297
51         15         15  deepseek-r1:1.5b   629.362297
41         10         20    deepseek-r1:8b   629.404641
24          5         20  deepseek-r1:1.5b   630.171875
33         10         10  deepseek-r1:1.5b   631.412414
47         15          5    deepseek-r1:8b   632.263714
25          5         20    deepseek-r1:7b   634.288222
50         15         10    deepseek-r1:8b   637.409920
28          5         50    deepseek-r1:7b   639.737411
3           1         10  deepseek-r1:1.5b   647.467153
56         15         20    deepseek-r1:8b   647.565873
14          1         50    deepseek-r1:8b   650.897054
7           1         15    deepseek-r1:7b   658.068144
0           1          5  deepseek-r1:1.5b   680.124677
16          5          5    deepseek-r1:7b   812.106968
59         15         50    deepseek-r1:8b   814.367696
27          5         50  deepseek-r1:1.5b   838.589430
49         15         10    deepseek-r1:7b   900.270824
52         15         15    deepseek-r1:7b   968.673040
12          1         50  deepseek-r1:1.5b   974.576398
10          1         20    deepseek-r1:7b   992.761225
13          1         50    deepseek-r1:7b   997.457152
1           1          5    deepseek-r1:7b  1007.642526
57         15         50  deepseek-r1:1.5b  1121.904044
37         10         15    deepseek-r1:7b  1164.588675
8           1         15    deepseek-r1:8b  1338.183637

In [6]:
df.pivot_table(index=["model_name"], columns=["n_threads" , "n_batches"], values="time", aggfunc="mean")

n_threads                  1                                        \
n_batches                  5           10           15          20
model_name
deepseek-r1:1.5b   680.124677  647.467153   332.332921  328.912075
deepseek-r1:7b    1007.642526  350.027707   658.068144  992.761225
deepseek-r1:8b     350.287980  335.803824  1338.183637  333.687108

n_threads                             5                                       \
n_batches                 50          5           10          15          20
model_name
deepseek-r1:1.5b  974.576398  318.711258  317.015734  626.631869  630.171875
deepseek-r1:7b    997.457152  812.106968  320.359248  628.408297  634.288222
deepseek-r1:8b    650.897054  318.214599  317.641310  624.490772  318.433320

n_threads                             10                                       \
n_batches                 50          5           10           15          20
model_name
deepseek-r1:1.5b  838.589430  317.381762  631.412414   316.681438  618.437334
deepseek-r1:7b    639.737411  616.921100  603.978574  1164.588675  320.049358
deepseek-r1:8b    322.409924  623.480563  320.739829   612.208770  629.404641

n_threads                             15                                      \
n_batches                 50          5           10          15          20
model_name
deepseek-r1:1.5b  319.460824  316.183974  625.685392  629.362297  319.428014
deepseek-r1:7b    618.580879  316.595344  900.270824  968.673040  626.195569
deepseek-r1:8b    320.420426  632.263714  637.409920  321.494657  647.565873

n_threads
n_batches                  50
model_name
deepseek-r1:1.5b  1121.904044
deepseek-r1:7b     316.686868
deepseek-r1:8b     814.367696

In [7]:
df.pivot_table(index=["model_name"], columns=["n_batches"], values="time", aggfunc="mean")

n_batches                 5           10          15          20          50
model_name
deepseek-r1:1.5b  408.100418  555.395173  476.252131  474.237324  813.632674
deepseek-r1:7b    688.316485  543.659088  854.934539  643.323594  643.115577
deepseek-r1:8b    481.061714  402.898721  724.094459  482.272736  527.023775

In [8]:
df.pivot_table(index=["model_name"], columns=["n_threads"], values="time", aggfunc="mean")

n_threads                 1           5           10          15
model_name
deepseek-r1:1.5b  592.682645  546.224033  440.674754  602.512744
deepseek-r1:7b    801.191351  606.980029  664.823717  625.684329
deepseek-r1:8b    601.771921  380.237985  501.250846  610.620372

In [9]:
df.groupby(["model_name", "n_threads", "n_batches"]).time.agg("mean")

model_name        n_threads  n_batches
deepseek-r1:1.5b  1          5             680.124677
                             10            647.467153
                             15            332.332921
                             20            328.912075
                             50            974.576398
                  5          5             318.711258
                             10            317.015734
                             15            626.631869
                             20            630.171875
                             50            838.589430
                  10         5             317.381762
                             10            631.412414
                             15            316.681438
                             20            618.437334
                             50            319.460824
                  15         5             316.183974
                             10            625.685392
                             15            629.362297
                             20            319.428014
                             50           1121.904044
deepseek-r1:7b    1          5            1007.642526
                             10            350.027707
                             15            658.068144
                             20            992.761225
                             50            997.457152
                  5          5             812.106968
                             10            320.359248
                             15            628.408297
                             20            634.288222
                             50            639.737411
                  10         5             616.921100
                             10            603.978574
                             15           1164.588675
                             20            320.049358
                             50            618.580879
                  15         5             316.595344
                             10            900.270824
                             15            968.673040
                             20            626.195569
                             50            316.686868
deepseek-r1:8b    1          5             350.287980
                             10            335.803824
                             15           1338.183637
                             20            333.687108
                             50            650.897054
                  5          5             318.214599
                             10            317.641310
                             15            624.490772
                             20            318.433320
                             50            322.409924
                  10         5             623.480563
                             10            320.739829
                             15            612.208770
                             20            629.404641
                             50            320.420426
                  15         5             632.263714
                             10            637.409920
                             15            321.494657
                             20            647.565873
                             50            814.367696
Name: time, dtype: float64

In [26]:
df.loc[df.groupby(["model_name", "n_threads"]).time.idxmin()].groupby(["model_name", "n_threads", "n_batches"]).time.agg("mean")

model_name        n_threads  n_batches
deepseek-r1:1.5b  1          20           328.912075
                  5          10           317.015734
                  10         15           316.681438
                  15         5            316.183974
deepseek-r1:7b    1          10           350.027707
                  5          10           320.359248
                  10         20           320.049358
                  15         5            316.595344
deepseek-r1:8b    1          20           333.687108
                  5          10           317.641310
                  10         50           320.420426
                  15         15           321.494657
Name: time, dtype: float64

In [27]:
df.loc[df.groupby(["model_name"]).time.idxmin()]

    n_threads  n_batches        model_name        time
45         15          5  deepseek-r1:1.5b  316.183974
46         15          5    deepseek-r1:7b  316.595344
20          5         10    deepseek-r1:8b  317.641310